/* Reset global e centralização da calculadora na tela */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

/* Container principal da estrutura da calculadora */
.calculator {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 320px;
}

/* Visor onde são exibidos os valores e resultados */
.display {
    background-color: #222;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 50px;
    text-align: right;

}

/* Painel dos botões em formato de grade (4 colunas iguais) */
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

/* Estilização base universal para os botões */
.button {
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Esquemas de cores das teclas (Tema iOS) */
.button.dark-gray {
    background-color: #333;
    color: #fff;
}

.button.orange {
     background-color: #f39c12;
     color: #fff;

}

.button.light-gray {
    background-color: #d3d3d3;
    color: black;
}

/* Modificador para botão largo (ocupa 2 colunas da grade) */
.button.wide {
    grid-column: span 2;
    border-radius: 50px;
}